# LaTeX-Hilfsdateien in ALLEN Unterordnern ignorieren
**/*.aux
**/*.log
**/*.out
**/*.toc
**/*.lof
**/*.lot
**/*.fls
**/*.fdb_latexmk
**/*.synctex.gz

# Literaturverzeichnis (BibTeX / Biber)
**/*.bbl
**/*.bcf
**/*.blg
**/*.run.xml
**/*-SAVE-ERROR

# PDF
**/main.pdf